* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
}

body {
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.datepicker {
	margin-top: 10rem;
	background-color: #e6e6e6;
}

.main-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(9, 1fr);
	row-gap: 1.6rem;
}

.input-date {
	grid-column: 1 / 7;
}

.select-date-input {
	width: 100%;
	height: 100%;
}

.input-icon {
	grid-column: 7 / 8;
}

.select-date-button {
	width: 100%;
	height: 100%;
	color: #000;
	background: none;
	border: none;
	cursor: pointer;
}

.weekday,
.saturday,
.sunday {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2.4rem;
}
.select-date-icon {
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
}

.arrow-previous-month {
	grid-column: 1 / 2;
}

.arrow-next-month {
	grid-column: 7 / 8;
}

.previous-month-icon,
.next-month-icon {
	width: 3.6rem;
	height: 3.6rem;
}

.selected-month-and-year {
	grid-column: 2 / 7;
}

.arrow-next-month {
	grid-column: 7 / 8;
}

.day-of-a-week {
	background-color: #cccccc;
	padding: 0.8rem;
}

.saturday {
	grid-column: 6 / 7;
	font-weight: 700;
	color: #ef0000;
}

.sunday {
	grid-column: 7 / 8;
	font-weight: 700;
	color: #ef0000;
}

@media (max-width: 620px) {
	html {
		font-size: 45%;
	}
}

@media (max-width: 435px) {
	html {
		font-size: 30%;
	}
}
